
.about {
    position: relative;
}
.about  img {
width: 100%;
height: 100%;
}

.about1 {
    position: absolute;
    top: 10%;
    right: 50px;
    color: black;
    font-size: 45px;
    font-weight: bold;
    margin-left: 20px;
    font-family: 'Architects Daughter', cursive;
}
.about2 {
    position: absolute;
    top: 10%;
    right: 50px;
    color: black;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: goldenrod;
}


