
.contact {
    position: relative;
}
.contact  img {
width: 100%;
height: 100%;
}

.contact1 {
    position: absolute;
    top: 5%;
    right: 50px;
    color: purple;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}

.contact2 {
    position: absolute;
    top: 5%;
    left: 30px;
    color: purple;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: tomato;
}
